h1 {
  font-family: cursive;
  color: #502999;
  text-align: center;
}
.searchbox {
  font-family: cursive;
  color: #f46565;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20%;
  font-size: 1.5em;
  background: linear-gradient(21deg, #1d044b, #ff4e17);
  padding: 5px;
  outline: none;
  border-radius: 9999em;
}
.searchbox::placeholder {
  font-family: cursive;
  color: #f46565;
}
.cards {
  background: linear-gradient(21deg, #d3182a, #f46565);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: #502999;
  font-family: cursive;
  transition: 0.3s;
}
.cardsbox {
  margin: auto 60px;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.cards:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0);
}
.robopics {
  height: 250px;
}
.modal {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: auto;
  position: absolute;
}
.closemodalbtn {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 9999em;
  width: 10%;
  height: 10%;
}
.leaflet-container {
  width: 80%;
  height: 100%;
  margin: auto;
}
